<!-- <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button> -->
<h1>Giải mã file</h1>

<mat-divider></mat-divider>
<div class="pt-3">
    <form [formGroup]="IOForm" class="pt-toolbar">



        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">File PDF cần giải mã:</label>
            <div class="col-sm-8">
                <input type="file" class="form-control" formControlName="pdfFile" placeholder="File PDF cần giải mã" (change)="onFileChangeF1($event)" />
            </div>
        </div>
        <div class="form-group row mx-0 p-1">
            <label class="col-sm-4 col-form-label text-left">Chứng thư số:</label>
            <div class="col-sm-8">
                <input type="file" class="form-control" formControlName="certFile" placeholder="Certificate" (change)="onFileChangeF2($event)" />
            </div>
        </div>

        <div class="form-group row mx-0 p-1">
          <label class="col-sm-4 col-form-label text-left">Mật Khẩu:</label>
          <div class="col-sm-8">
              <input class="form-control" type="password" formControlName="password" placeholder="Password" />
          </div>
      </div>
        <div class="form-group row mx-0 pt-3 ">
            <div class="col-12">
                <button class="btn btn-sm btn-primary"  style="float: right;" (click)="onSubmit()" [mat-dialog-close]="true">
                    <i class="far fa-save"></i>
                    Giải mã
                </button>
                <button class="btn btn-sm btn-danger mr-3" [mat-dialog-close]="true">
                    <i class="far fa-times-circle"></i> Hủy bỏ
                </button>
            </div>
        </div>
    </form>
</div>
